@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cutive Mono', monospace;
    color: #000;
}

.high-title {
    font-family: 'Tangerine', cursive;
}

.text-right {
    text-align: right;
}

/* Main Header */

header.main-header .custom-logo {
    width: auto;
    height: auto;
    max-width: 100px;
}

/* Main Footer */

footer.main-footer .footer-logo {
    width: auto;
    height: auto;
    max-width: 100px;
}

.single-container {
    display: flex;
    justify-content: center;
}

.single.single-post {
    padding: 1rem 2rem;
    width: auto;
    max-width: 1200px;
}

.single.single-post h1.single-title {
    font-size: 6rem;
}

.single.single-post p {
    font-size: var(--wp--preset--font-size--medium) !important;
    line-height: 1.8rem;
    margin-block-end: 2em;
}

.single.single-post a {
    text-decoration: dotted;
}